{% extends "pdf/template_base.html" %}

{% block content %}

<div class="disclaimer">
    <div class="estrutura-relatorio">
        <h3><b>Estrutura do Relatório</b></h3>
        <p>Este relatório tem como objetivo identificar e analisar indícios de possível clonagem de placas de veículos a
            partir
            dos registros de passagem capturados pelos radares da cidade. O foco está na detecção de pares suspeitos, ou
            seja,
            situações em que a mesma placa é registrada em pontos distintos em um intervalo de tempo que tornaria
            inviável um
            deslocamento compatível com a realidade urbana.</p>
        <p>Quando os dados atendem aos critérios mínimos necessários, busca-se também reconstruir possíveis trilhas de
            movimentação dos dois veículos distintos (denominados Veículo 1 e Veículo 2), fornecendo uma visualização
            dos
            pontos de detecção possivelmente atribuíveis a cada um, dos dias em que ocorreram as ocorrências suspeitas e
            da
            localização exata de cada registro.</p>
        <p>O objetivo final é sinalizar visual e analiticamente a suspeita de clonagem, de forma a apoiar a
            identificação de
            veículos potencialmente clonados e subsidiar análises ou investigações complementares.</p>
    </div>

    <div class="limitacoes-relatorio">
        <h3 style="margin-bottom: -10px;"><b>Limitações do Relatório</b></h3>
        <ol>
            <li><b>Período de disponibilidade dos dados</b>
                <p>Os dados de detecções estão disponíveis desde a data <b>01/06/2024</b> em diante. Não é possível
                    consultar períodos anteriores.</p>
            </li>

            <li><b>Ausência de detecção</b>
                <p>A ausência de registro <b>não implica necessariamente</b> que o veículo não tenha passado pelo local.
                    A leitura por OCR pode falhar devido a fatores como:</p>
                <ul style="margin-top: 0px;">
                    <li style="margin-bottom: -10px;">Placas danificadas ou sujas;</li>
                    <li style="margin-bottom: -10px;">Obstruções visuais na câmera;</li>
                    <li style="margin-bottom: -10px;">Condições climáticas adversas;</li>
                    <li style="margin-bottom: -10px;">Período de inatividade do equipamento;</li>
                    <li>Falhas técnicas.</li>
                </ul>
                <p>Quando um radar não possui informações completas de localização (rua, faixa e sentido), as passagens
                    registradas ficam ocultas do relatório. isso pode ocorrer porque a base de referência que relaciona
                    cada radar ao seu código oficial ainda não está totalmente atualizada. Até que a atualização seja
                    concluída, parte das leituras não poderá ser exibida corretamente e, portanto, é temporariamente
                    desconsiderada. Essa medida é necessária para garantir a consistência da análise de correlação, que
                    depende da correspondência de localização completa do equipamento.</p>
                <p>Isto significa que os dados apresentados neste relatório <b>não são exaustivos</b> e a ausência de
                    uma placa não é determinante para comprovar que não houve a passagem naquela localidade.</p>
            </li>

            <li><b>Distância entre radares</b>
                <p>O relatório não indica trajetos percorridos entre as detecções.</p>
            </li>
        </ol>
    </div>
</div>

<div class="parametros-gerais page-break">
    <h3><b>Parâmetros Gerais</b></h3>

    <div class="parametros-gerais-text" style="padding-left: 20px; margin-bottom: 20px;">
        <p><b>Placa monitorada:</b> {{ plate }}</p>
        <p><b>Intervalo de tempo:</b> {{ time_interval_str }}</p>
    </div>
</div>

<div class="summary">
    <h3><b>Quadro Resumo</b></h3>

    <div class="summary-cards">
        <div class="summary-card">
            <div class="card-icon">
                <img src="{{ icon_radar_path }}" alt="Radar">
            </div>
            <div class="card-label">Número total de registros</div>
            <div class="card-value">{{ readings_count }}</div>
        </div>

        <div class="summary-card card-alert">
            <div class="card-icon">
                <img src="{{ icon_warning_path }}" alt="Alerta">
            </div>
            <div class="card-label">Número de registros suspeitos</div>
            <div class="card-value">{{ suspicious_readings_count }}</div>
        </div>

        <div class="summary-card">
            <div class="card-icon">
                <img src="{{ icon_calendar_path }}" alt="Calendário">
            </div>
            <div class="card-label">Dia com mais registros suspeitos</div>
            <div class="card-value">{{ most_suspicious_day }} ({{ most_suspicious_day_count }})</div>
        </div>
    </div>

</div>

<div class="examples page-break">
    <h3><b>Exemplos de Pares Suspeitos</b></h3>
    <p>Os exemplos abaixo ilustram como os indícios de clonagem são apresentados nos mapas. Eles mostram cenários onde
        as detecções foram ou não separadas em trilhas distintas, ajudando a entender os padrões identificados.</p>

    <div class="example-splitable-pair">
        <h3>Exemplo de Par Separável</h3>
        <div class="example-fig">
            <img src="{{ example_splitable_pair_figure_path }}" alt="Imagem do exemplo de par separável">
        </div>
        <p>Neste exemplo, os pontos foram divididos em duas trilhas distintas, marcadas em azul claro e azul escuro.</p>
        <ul>
            <li><b>Azul claro:</b> Representa possível veículo 1</li>
            <li><b>Azul escuro:</b> Representa possível veículo 2</li>
        </ul>
    </div>

    <div class="example-non-splitable-pair">
        <h3>Exemplo de Par Não Separável</h3>
        <div class="example-fig">
            <img src="{{ example_non_splitable_pair_figure_path }}" alt="Imagem do exemplo de par não separável">
        </div>
        <p>Neste caso, os pontos, marcados em cinza, indicam deslocamentos improváveis, mas não foi possível separá-los em
            trilhas distintas. Isso ocorre quando os dados são insuficientes para confirmar a presença de dois veículos.</p>
        <ul>
            <li><b>Cinza:</b> Sinaliza que o padrão de deslocamento é suspeito, mas não permite divisão clara em dois veículos.
                - Resultado: Indica uma possível clonagem ou erro nos dados, exigindo investigação adicional.</li>
        </ul>
    </div>


</div>

 <div class="grafo page-break">
    <div class="grafo-text">
        <h3><b>Visualização do Grafo de Relacionamentos</b></h3>
        <p>O grafo gerado a partir dos dados do relatório permite visualizar as conexões entre as <b>placas
                monitoradas</b> (demandadas) e as <b>placas correlatas</b> (veículos identificados em proximidade com
            múltiplas placas de interesse).</p>
        <p>Cada <b>nó (ponto)</b> do grafo representa uma <b>placa:</b></p>

        <div class="grafo-explanation" style="margin-top: 10px;">
            <p><b>Nós azuis </b>: <span style="color: blue; font-size: 20px;">●</span> Representam as placas
                monitoradas, demandadas pelas autoridades.</p>
            <p><b>Nós vermelhos</b>: <span style="color: red; font-size: 20px;">●</span> Representam as placas que se
                deslocaram em conjunto (placas correlatas) com as placas monitoradas.</p>
            <p><b>Arestas</b>: <span style="color: black;">━</span> Indicam a relação entre duas placas,
                ou seja, que elas foram detectadas juntas em uma ou mais passagens pelos radares.</p>
            <p><b>Espessura das arestas</b>: <span
                    style="display: inline-block; height: 3px; width: 20px; background-color: black;"></span> <span
                    style="display: inline-block; height: 9px; width: 20px; background-color: black;"></span> Quanto
                mais grossa
                a aresta, maior a frequência de detecção conjunta entre as placas conectadas.</p>
            <p><b>Direção das setas</b>:
                <span style="display: inline-block; font-size: 20px;">←</span>
                <span style="display: inline-block; font-size: 20px;">→</span>
                A seta aponta do veículo correlato para as placas demandadas, indicando que esse veículo passou perto
                das placas monitoradas (demandadas).
            </p>
        </div>

    </div>

    <div class="grafo-container">
        <img src="{{ grafo_limited_nodes_path }}" alt="Grafo de Relacionamentos">
    </div>
    <div class="graph-page-footer">
        <p>Este grafo apresenta as conexões mais relevantes entre as placas monitoradas e os veículos diretamente
            relacionados a elas. Ou seja, ele destaca as correlações mais significativas identificadas na análise,
            facilitando a visualização dos vínculos prioritários. Além disso, um grafo complementar, disponibilizado em
            formato HTML, exibe todas as conexões encontradas — incluindo os vínculos menos relevantes — entre as placas
            monitoradas e as placas correlatas identificadas.</p>
    </div>

</div>

<div class="deteccoes-placas-demandadas page-break">
    <div class="deteccoes-placas-demandadas-text">
        <h3><b>Tabela de Veículos Correlatos com Detecção Próxima a Múltiplas placas Monitoradas</b></h3>
        <p>A tabela a seguir apresenta os veículos identificados em proximidade com duas ou mais placas demandadas
            (monitoradas), com base nas detecções realizadas por radares. Cada linha representa um veículo identificado
            e o número de vezes que ele foi registrado por um radar, além das placas demandadas que passaram próximo a
            ele, de acordo com os parâmetros definidos na busca.</p>
        <p>Abaixo, a descrição das colunas apresentadas:</p>

        <ul style="margin-top: 0px;">
            <li><b>Placa Correlata</b>: Placa do veículo identificada na análise por ter múltiplas passagens perto de
                placas monitoradas.
                <ul style="margin-top: 0px;"><b>Exemplo:</b> ABC1D23 — Trata-se de um veículo que, durante o período
                    analisado, foi detectado diversas vezes próximo a diferentes placas monitoradas.</ul>
            </li>

            <li><b>Número de Placas Monitoradas</b>: Quantidade de placas monitoradas diferentes com as quais a placa
                correlata foi identificada.
                <ul style="margin-top: 0px;"><b>Exemplo:</b> 3 — A placa ABC1D23 foi identificada em proximidade com
                    três placas monitoradas distintas — por exemplo: XXX1234, YYY1234 e ZZZ1234.</ul>
            </li>

            <li><b>Número de Detecções Conjuntas</b>: quantidade de vezes em que a placa correlata foi detectado próximo
                às placas monitoradas.
                <ul style="margin-top: 0px;"><b>Exemplo:</b> 12 — O veículo com placa ABC1D23 foi detectado 12 vezes
                    próximo às placas monitoradas com as quais teve detecção conjuntas. Essas detecções podem ter
                    ocorrido em horários e locais diferentes.</ul>
            </li>

            <li><b>Detalhamento</b>: Lista das placas monitoradas com as quais cada placa correlata teve detecção
                conjunta
                <ul style="margin-top: 0px;"><b>Exemplo:</b> XXX1234, YYY1234 e ZZZ1234.</ul>
            </li>
        </ul>

        <p>A tabela está ordenada de forma <b>decrescente pela quantidade de placas monitoradas relacionadas a
                veículos</b>, priorizando os veículos com maior número de correlação.</p>

        <p><b>Total de detecções das placas correlatas:</b> {{ total_monitored_plates }} </p>
    </div>

    <div class="deteccoes-placas-demandadas-table">
        <table class="report-table">
            <tr>
                <th>Placa Correlata</th>
                <th>Número de Placas Monitoradas</th>
                <th>Número de Detecções Conjuntas</th>
                <th>Detalhamento</th>
            </tr>
            {% for detection in detections %}
            <tr>
                <td>{{ detection.plate }}</td>
                <td>{{ detection.count_different_targets }}</td>
                <td>{{ detection.count_plate_total }}</td>
                <td>{{ detection.target_plates }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="detection-details page-break">
    <div class="detection-details-text">
        <h3><b>Detalhamento das Detecções do Relatório</b></h3>
    </div>
</div>

{% endblock %}
